<!--<h1>Log In</h1> -->



<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">

<%= form_tag login_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username, '', autofocus: true%><br><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br><br>
    <%= submit_tag 'Log In', :class=>"ui blue submit button" %>
<% end %>


        
          <div class="ui left icon input">
          </div>
        </div>
        <div class="field">
         
          <div class="ui left icon input">
          </div>
        </div>

        
      </div>
    </div>
  
    <div class="middle aligned column">
      <div class="ui big button">
        <i class="signup icon"></i>
        <a href="/signup"> Sign Up </a>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>