<!--<h1>Log In</h1> -->



<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column get-off-the-header">
      <div class="ui form focus user-form">
        <div class="field">

<%= form_tag login_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username, '', autofocus: true%><br><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br><br>
    <%= submit_tag 'Log In', :class=>"ui big submit button" %>
<% end %>


        
          <div class="ui left icon input">
          </div>
        </div>
        <div class="field">
         
          <div class="ui left icon input">
          </div>
        </div>

        
      </div>
    </div>
  
    <div class="middle aligned column">
        <div class="">
          <%= link_to signup_path do %>
            <button class="ui big submit button">Sign Up</button>
          <% end %>
        </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>