<div class="get-off-the-header">
 <div class="sidebar">
    <div class="sidebar-fixed">
        <h1><%= @meal_plan.name %></h1>
        <br>
        <div class="ui vertical menu">
        <%=link_to 'Dashboard Home', user_path(current_user), :class=>"item"%>
        <%=link_to 'Add Recipe', recipes_path, :class=>"item"%>
        <%=link_to 'Add Wine', wines_path, :class=>"item"%>
        <%=link_to 'Edit Meal Plan', edit_user_meal_plan_path(current_user, @meal_plan), :class=>"item"%>
        <%=link_to 'Delete Meal Plan', user_meal_plan_path(current_user, @meal_plan), method: :delete, data: {confirm: "Are you sure you want to delete this meal plan?"}, :class=>"item"%>
        </div>
    </div>
  </div>

  <div>
    <h1 class="center-header">Edit Meal Plan</h1>
    <br>
    <%= form_for [current_user, @meal_plan], :html => {:class => 'ui form focus center-form'} do |f| %>
        <%= f.text_field :name, autofocus: true, :placeholder=>"Enter a new name for your meal plan..." %>
        <%= f.hidden_field :user_id, value: current_user.id %><br><br>
        <%= f.submit 'Submit', :class=>"ui button" %>
    <% end %>
  </div>
</div>