<div class="container">
  <div class="sidebar">
    <div class="sidebar-fixed">
    <h1><%= @dish_type %> Recipes</h1>

    <h4>Number of recipes: <%= @count %></h4>

    <br><br>

    <%= form_tag recipes_path, method: :get, class: 'ui form focus search-form' do %>
        <%= collection_select :recipe, :dish_type, @dish_types, :to_s, :to_s, {prompt: "Filter by meal type"}, class: "ui selection dropdown" %><br><br>
        <%= submit_tag 'Submit', name: :filter, :class=>"ui button" %>
    <% end %>

    <br><br>

    <%= form_tag recipes_path, method: :get, class: 'ui form focus search-form' do %>
        <%= text_field_tag :search, params[:search], :placeholder=>"Search for a recipe..." %><br><br>
        <%= submit_tag 'Submit', name: nil, :class=>"ui button"%>
    <% end %>

    </div>
  </div> <!-- closing sidebar -->

  <div class="index-all-items">
    <% @recipes.each do |recipe| %>
      <div class="recipe-card">
        <aside>
          <%= link_to image_tag(recipe.image_url), recipe_path(recipe) %>
        </aside>
        <article>
          <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
          <h3><%= recipe.dish_type %></h3>
          <ul>
            <li><span class="icon-time icon-users"><%= image_tag('001-user.png') %></span><span><%= recipe.servings %></span></li>
            <li><span class="icon-time icon-clock"><%= image_tag('005-time.png') %></span><span><%= "#{recipe.time} min"  %></span></li>
            <% if recipe.vegetarian == true  %>
              <li><span class="icon-time icon-clock"><%= image_tag('004-salad-1.png') %></span><span></span></li>
            <% end %>
          </ul>
        </article>
      </div> <!-- closing recipe-card -->
  <% end %>
  </div> <!-- closing index-all-items -->

</div> <!-- closing container -->
<div class="footer"></div>