<div class="all-recipes">
    
    <div class="container">
        <div class="index-sidebar">
            <h1><%= @dish_type %> Recipes</h1>

            <%= form_tag recipes_path, method: :get do %>
                <%= label_tag "Filter by meal type:" %>
                <%= collection_select :recipe, :dish_type, @dish_types, :to_s, :to_s, prompt: true, :class=>"ui search dropdown" %>
                <%= submit_tag :submit, name: :filter %>
            <% end %>

      

            <br>
            <div class="ui input focus">
            <%= form_tag recipes_path, method: :get do %>
                <%= label_tag "Search for recipe:" %>
                <%= text_field_tag :search, params[:search], :placeholder=>"Search for a recipe..." %>
                <%= submit_tag :submit, name: nil %>
            <% end %>
            </div>

            <h5>Number of recipes: <%= @count %></h5>
        </div> <!-- closing index-sidebar -->

        <div class="index-all-items">
                <% @recipes.each do |recipe| %>
                  <!--<%= link_to recipe_path(recipe) do %>-->
                    <div class="recipe-card">
                        <aside>
                            <%= link_to image_tag(recipe.image_url), recipe_path(recipe) %>
                        </aside>
                        <article>
                            <h2><%= recipe.title %></h2>
                            <!--<h2><%= link_to recipe.title, recipe_path(recipe) %></h2>-->
                            <h3><%= recipe.dish_type %></h3>
                            <ul>
                                <li><span class="icon-time icon-users"><%= image_tag('001-user.png') %></span><span><%= recipe.servings %></span></li>
                                <li><span class="icon-time icon-clock"><%= image_tag('005-time.png') %></span><span><%= "#{recipe.time} min"  %></span></li>
                                <% if recipe.vegetarian == true  %>
                                  <li><span class="icon-time icon-clock"><%= image_tag('004-salad-1.png') %></span><span></span></li>
                                <% end %>
                            </ul>
                        </article>
                    </div> <!-- closing recipe-card -->
                  <!--<% end %>-->
                <% end %>
        </div> <!-- closing index-all-items -->

    </div> <!-- closing container -->
</div> <!-- closing all-recipes -->

<%# 
<div class="recipe-card">

	<aside>

		<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/oatmeal.jpg" alt="Chai Oatmeal" />

		<a href="#" class="button"><span class="icon icon-play"></span></a>

	</aside>

	<article>

		<h2>Chai Oatmeal</h2>
		<h3>Breakfast</h3>

		<ul>
			<li><span class="icon icon-users"></span><span>1</span></li>
			<li><span class="icon icon-clock"></span><span>15 min</span></li>
			<li><span class="icon icon-level"></span><span>Beginner level</span></li>
			<li><span class="icon icon-calories"></span><span>248</span></li>
		</ul>

	</article>

</div> %>