<div class="container">
  <div class="dashboard-sidebar">
    <h1>My Dashboard</h1>

    <h3>Hello, <%= @user.full_name %></h3>

    

    
    <%= button_to 'Add Meal Plan', new_user_meal_plan_path(@user), method: :get %>
    <br>
    <%= button_to 'Edit User Info', edit_user_path(@user), method: :get %>
    <br>
    <!--<%= button_to 'Log Out', logout_path, method: :delete %><br> -->

    <%= button_to 'Delete Account', user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %>
  </div> <!-- closes dashboard-sidebar -->

  <div class="dashboard-main">

    <!--
    <h4>Your Meal Plans:</h4>
      <ul>
          <% @meal_plans.each do |meal| %>
              <li><%= link_to meal.name, user_meal_plan_path(@user, meal) %></li>
          <% end %>
      </ul> -->

      <!-- MEAL PLAN CARD -->
      <% @meal_plans.each do |meal| %>
      <div class="ui card">
        <div class="content">
          <div class="header"> <%= meal.name %> </div>
        </div>
        <div class="content">
          <!-- RECIPES -->
          <h4 class="ui sub header">Recipes 🍽</h4>
          <div class="ui small feed">

            <div class="event">
              <div class="content">
                <div class="summary">
                  <% meal.recipes.each do |recipe| %>
                      <%= link_to recipe.title, recipe_path(recipe) %>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- WINES -->
            <h4 class="ui sub header">Wines 🍷</h4>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <% meal.wines.each do |wine| %>
                      <%= link_to wine.title, wine_path(wine) %>
                  <% end %>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="extra content">
          <%= link_to user_meal_plan_path(@user, meal) do %>
            <button class="ui button">View Detail</button>
          <% end %>
        </div>
      
      </div> <!-- closes class="ui card" -->
    <% end %>

  </div> <!-- closes dashboard-main -->
</div> <!-- closes container -->
