<div class="container">

  <div class="sidebar">
    <h1><%= @varietal %> Wines <%= @price_range %></h1>

    <%= form_tag wines_path, method: :get do %>
        <%= label_tag "Filter by varietal:" %>
        <%= collection_select :wine, :varietal, @varietals, :to_s, :to_s, prompt: true %>
        <%= submit_tag :submit, name: :name_filter %>
    <% end %>

    <br>

    <%= form_tag wines_path, method: :get do %>
        <%= label_tag "Filter by price:" %>
        <%= collection_select :wine, :price, @prices, :to_s, :to_s, prompt: true %>
        <%= submit_tag :submit, name: :price_filter %>
    <% end %>

    <br>

    <%= form_tag wines_path, method: :get do %>
        <%= label_tag "Search for wine:" %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag :submit, name: nil %>
    <% end %>
  

    <h5>Number of wines: <%= @count %></h5>

  </div> <!-- closing index-sidebar -->

  <!-- Start Main Div -->
  <div class="index-all-items">
    
    
      <% @wines.each do |wine| %>
      
      <div class="recipe-card">
      
        <aside class="wine-img">
          <%= link_to image_tag(wine.image_url), wine_path(wine)%>
        </aside>


        <article>
          <h2><%= wine.title %></h2>
          <!--<h2><%= link_to wine.title, wine_path(wine) %></h2>-->
          <h3><%= wine.varietal %></h3>
          <ul>
            <li><span class="icon-time icon-users"><%= image_tag('dollar-price-tag.png') %></span><span><%= wine.price %></span></li>
            <li><span class="icon-time icon-clock"><%= image_tag('round-favorite-button.png') %></span><span><%= (wine.rating * 100).to_i %></span></li>
          </ul>
        </article>
        
      </div> <!-- closing wine-card -->
    <% end %>

  </div> <!-- closing index-all-items -->

</div> <!-- closing container -->