<div class="container">

  <div class="sidebar">
  <div class="sidebar-fixed">
    <h1><%= @varietal %> Wines <%= @price_range %></h1>

    <h4>Number of wines: <%= @count %></h4>

    <br><br>

    <%= form_tag wines_path, method: :get, class: 'ui form focus search-form' do %>
        <%= collection_select :wine, :varietal, @varietals, :to_s, :to_s, {prompt: "Filter by varietal"}, class: "ui selection dropdown" %><br><br>
        <%= submit_tag 'Submit', name: :name_filter, :class=>"ui button" %>
    <% end %>

    <br><br>

    <%= form_tag wines_path, method: :get, class: 'ui form focus search-form' do %>
        <%= collection_select :wine, :price, @prices, :to_s, :to_s, {prompt: "Filter by price"}, class: "ui selection dropdown" %><br><br>
        <%= submit_tag 'Submit', name: :price_filter, :class=>"ui button" %>
    <% end %>

    <br><br>

    <%= form_tag wines_path, method: :get, class: 'ui form focus search-form' do %>
        <%= text_field_tag :search, params[:search], :placeholder=>"Search for a wine..." %><br><br>
        <%= submit_tag 'Submit', name: nil, :class=>"ui button" %>
    <% end %>
  
  </div>
  </div> <!-- closing index-sidebar -->

  <!-- Start Main Div -->
  <div class="index-all-items">
      <% @wines.each do |wine| %>
      
      <div class="recipe-card">
      
        <aside class="wine-img">
          <%= link_to image_tag(wine.image_url), wine_path(wine)%>
        </aside>


        <article>
          <h2><%= link_to wine.title, wine_path(wine) %></h2>
          <h3><%= wine.varietal %></h3>
          <ul>
            <li><span class="icon-time icon-users"><%= image_tag('dollar-price-tag.png') %></span><span><%= wine.price %></span></li>
            <li><span class="icon-time icon-clock"><%= image_tag('round-favorite-button.png') %></span><span><%= (wine.rating * 100).to_i %></span></li>
          </ul>
        </article>
        
      </div> <!-- closing wine-card -->
    <% end %>

  </div> <!-- closing index-all-items -->

</div> <!-- closing container -->