<h1><%= @varietal %> Wines <%= @price_range %></h1>

<%= form_tag wines_path, method: :get do %>
    <%= label_tag "Filter by varietal:" %>
    <%= collection_select :wine, :varietal, @varietals, :to_s, :to_s, prompt: true %>
    <%= submit_tag :submit, name: :name_filter %>
<% end %>

<br>

<%= form_tag wines_path, method: :get do %>
    <%= label_tag "Filter by price:" %>
    <%= collection_select :wine, :price, @prices, :to_s, :to_s, prompt: true %>
    <%= submit_tag :submit, name: :price_filter %>
<% end %>

<br>

<%= form_tag wines_path, method: :get do %>
    <%= label_tag "Search for wine:" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag :submit, name: nil %>
<% end %>

<p>Number of wines: <%= @count %></p>

<ol>
    <% @wines.each do |wine| %>
        <li><%= link_to wine.title, wine_path(wine) %></li>
    <% end %>
</ol>