<div class="container">
  <div class="sidebar">
    <h4>Add this wine to an existing meal plan:</h4>
      <%= form_for @meal_plan_wine do |f| %>
          <%= f.collection_select :meal_plan_id, @meal_plans, :id, :name, prompt: "Select a meal plan:" %>
          <%= f.hidden_field :wine_id, value: @wine.id %>
          <%= f.submit :submit, :class=>"ui button" %>
      <% end %>

    <br>

    <h4>Create a new plan and add this wine to it:</h4>
      <%= form_for [current_user, @meal_plan] do |f| %>
          <%= f.label 'Meal Plan Name' %>
          <%= f.text_field :name %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :wine_id, value: @wine.id %>
          <%= f.submit :submit, :class=>"ui button" %>
      <% end %>

  </div> <!-- closes sidebar div-->

  <div class="wine">
    <h1><%=  @wine.title %></h1>

    <%= image_tag @wine.image_url  %>

    <ul>
        <li><b>Description:</b> <%= @wine.description %></li>
        <li><b>Average Rating:</b> <%= (@wine.rating * 100).to_i %></li>
        <li><b>Varietal:</b> <%= @wine.varietal %></li>
        <li><b>Price:</b> <%= @wine.price %></li>

    </ul>


    
    
  </div> <!-- closes recipe div-->
</div> <!-- closes container div-->