<!DOCTYPE html>
<html>
  <head>
    <title>MealPepper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:messages] %>
      <h3><%= flash[:messages] %></h3>
    <% end %>
    <%= yield %>
  </body>
</html>
