<!DOCTYPE html>
<html>
  <head>
    <title>MealPepper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/semantic.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- HEADER-->
    <header class="header-basic-light header-fixed">

	    <div class="header-limiter">

		  <h1><span><%= image_tag 'logo.png' %></span></h1>

        <nav>
          

          <% if current_user %>
            <%= link_to('My Dashboard', user_path(current_user)) %>
            <%= link_to('Recipes', recipes_path) %>
            <%= link_to('Wines', wines_path) %>
            <%= link_to('Log Out', logout_path, method: :delete) %>
          <% else %>
            <%= link_to('Log In', login_path) %>
            <%= link_to('Sign Up', signup_path) %>
          <% end %>
        </nav>
      </div>

    </header>

    <!-- You need this element to prevent the content of the page from jumping up -->
    <div class="header-fixed-placeholder"></div>

    <!-- Flash Messages -->
    <div>
      <% if flash[:messages] %>
        <h3><%= flash[:messages] %></h3>
      <% end %>


      <%= yield %>


    </div> <!-- end flash message & yield -->
  </div> <!-- end mother container -->
    
  </body>
</html>
